footer {
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 5px 20px; 
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media img {
    margin-right: 5%; 
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline-block;
    margin-right: 35px;
    font-size: 8px;
}

.footer-list li a {
    text-decoration: none;
    color: #57626B; 
}

.Spain {
    margin-left: 120px;
}
#pais_movil {
    display: none;
}

@media only screen and (max-width:500px ) {
.footer-content {
 flex-direction: column;
}
.footer-list li {
display: block;
text-align: center;
}

#pais_movil {
display: block;
font-family: "Inter", sans-serif;
font-size: 8px;
color: #57626B
}

#pais_desktop {
display: none;
}

#pais_movil img {
margin-left: 5px;
}

#bandera_desktop {
display: none;
}
.social-media img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px; 
}
.footer-content {
    padding-bottom: 10px;
}
}
