*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;  
}
    
header{
    background: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -2px 5px black;
    font-family: "Inter" ,sans-serif;
}

.barra-nav{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  font-size: 12px;
}

.iconos-menu{
 display: flex;
}

.nav  a{
 padding: 5px;
 color: #57626B;
}

.nav a.nav{
    flex: 1;
    margin-left: 20px;
}

.google-logo{
width: 5%;
}

b{
    color: #1a73e8;
}

